@media screen and (min-width: 750px) {
  #js-navbar-toggle {
    display: none;
  }

  #footer {
    flex:1 0 50px;
  }
  
  #navbar {
    flex:0 0 50px;
    min-height: 50px;
    flex-wrap: wrap;
    display: flex;
  }

}

@media screen and (max-width: 750px){
  .navblock {
    width: 100% !important;
  }

  .nav > li {
    width: 100% !important;
  }
  .nav {
    display: flex;
    width: 100%;
  }

  #navbar.home:not(.expand) {
    flex:1 1 auto;
    min-height: 50px;
  }

  #navbar:not(.home):not(.expand) {
    flex:0 0 50px;
    min-height: 50px;
    flex-wrap: wrap;
    display: flex;
  }

  #menu:not(.expand) {
    display: none;
  }

  #navbar.expand:not(.home) {
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #navbar.expand.home {
    height: auto;
    overflow: auto;
    scrollbar-width:none;
  }

  #navbar::-webkit-scrollbar{
    display: none;
  }

  #footer {
    flex:0 0 50px;
  }

  #nav-2 {
    flex: 0 0 50px;
  }
  #nav-1 {
    flex: 1 0 200px;
  }
}


#navbar:not(.home) {
  background: rgba(2, 45, 74, 0.8);
}


#content {
  flex:1 1 auto;
  overflow:auto;
  scrollbar-width: none;
  /*background-color: rgba(2, 45, 74, 0.8);*/
  margin-left:1%;
  margin-top:2%;
  margin-bottom:1%;
}



/*---------Footer standard styling ----------*/
#footer.main {
  background: rgba(2, 45, 74, 0.8);
  max-height: 50px;
}

#footer {
  
}

#footer.main > div {
  margin:auto;
  text-align: center;
}
/*------------------ Styling for background images & Layers ------------*/

body {
  background-image:
    url('/static/img/home_background.jpg');
  background-size: cover; /*auto 100vh%;*/
  background-repeat: no-repeat;
  height:100vh;
  overflow: hidden;
  background-position: right;
}

.layer {
  background-color: rgba(2, 45, 74, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#about-me-pic {
  background-image: linear-gradient(to left, 
                                    transparent 0%, 
                                    rgba(2, 45, 74,0.5) 50%, 
                                    rgb(2, 45, 74) 100%),
    url("/static/img/beach.jpg");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  height: 100%;
  padding: 10px 30px 10px 10px;
  box-shadow: 0 0 20px rgba(2, 45, 74,0.5) inset, 0 0 40px rgba(2, 45, 74,0.5) inset, 0 0 60px rgba(2, 45, 74,0.5) inset, 0 0 80px rgba(2, 45, 74,0.5) inset;
}



/*------------------ Styling for home page text above nav ------------*/

#above-header > h4 {
  color: #d9d9d9
}
.home-emphasis {
  text-decoration: underline;
  text-decoration-color: #019fb6;
  color: #FFFFFF
}

#above-header {
  margin: 40vh auto auto 0px;
}



/*------------------ Styling for label which appears on navbar ------------*/

#navbar.home > div > .navlabel {
  display: none
}

.navlabel {
  font-size: 28px;
  margin: auto 0px auto 10px;
  color: white;
  font-weight: bold;
}



/*------------------ Styling for nav menu items ------------*/

ul.nav {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  background-color: #333;
  background: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: white;
}


li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}


li a:hover:not(.active):after {
  transform: scaleX(1); 
}

.navbaritem:after {
  transform-origin:  0% 50%;
}

.navbaritem.active:after {
  transform: scaleX(1);
}



/*--------------------Common Styling across content pages -----------------*/

.white-layer {
  background-color: rgba(255, 255, 255, 0.2);
}

.p-10 {
  padding: 10px;
}

h1, h2, h4, .details, label {
  color:white;
}

h5.subtitle {
  color: #019fb6
}
.row-content::-webkit-scrollbar{
    display: none;
  }

.mainsection:not(#above-header) {
  background-color: rgba(2, 45, 74, 0.8);
  padding: 20px;
}


div.hide {
  display:none !important
}

.section-heading {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align:left;
}

.section-heading:before {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #019fb6;
  left: 2px;
  position: relative;
}

.subtitle::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top:0px;
  left: -6px;
  border-radius: 7.5px;
  background-color: #69b6d5;
}
/* #About-content {
  height:1600px;
  width: 100%;
} */


/*--------------------- about styling ----------------------------------*/
.strength-bar {
  width: 200px;
  height: 10px;
  background: grey;
}

div[data-level="Experienced"] {
  width : 100%;
  height : 100%;
  background-color: #69b6d5;
}

div[data-level="Proficient"] {
  width : 80%;
  height : 100%;
  background-color: #69b6d5;
}

.wrapped-list {
  display: inline-block;
}

.skill {
  width: 300px;
}

.upper {
  text-transform: uppercase;
}

.font-lg {
  color: lightgrey
}

/*---------------------services styling ----------------------------------*/

.services-tile {
  background-color: rgba(179, 204, 230,0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.services-tile:hover {
  background-color:  #019fb670;
}
  
.service-icon {
  box-shadow: -10px -10px 3px white;
  width: 50px;
  height: 60px;
  border: 1px solid white;
  margin: auto;
}

/*---------------------conatct form styling ----------------------------------*/
#contact-form {
  max-width: 600px;
  margin: auto;
}

/*---------------------icon styling ----------------------------------*/

.fa:not(.fa-bars, .fa-window-close) {  
  padding: 10px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 20px;  
  width: 40px;
  border-radius: 50%;
  background: rgba(2, 45, 74, 0.7);  
  color: white;  
} 

.fa-bars, .fa-window-close {  
  padding: 10px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 20px;  
  width: 40px;
  color: white;
  background: transparent;
}   
  
.fa:hover {  
    opacity: 0.9;  
}



/*
https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/
*/
.animate {
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-name: slide;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}

.animate.slideup { animation-name: animate-slideup; }

@keyframes animate-slideup {
  0% {
    opacity: 0;
    transform: translate(0,60px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

.animate.slideleft { animation-name: animate-slideleft; }

@keyframes animate-slideleft {
  0% {
    opacity: 0;
    transform: translate(30px,0px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}


.flex-9 {
  flex: 1 1 200px;
}

.flex-3 {
  flex: 0 0 200px;
}

.flex-11 {
  width: 100%;
  padding-left: 20px;
}

.jobcontent {
  display: flex;
  flex-wrap: wrap;
}