body {
  background-image:
    url('/static/img/home_background.jpg');
  background-size: cover; /*auto 100vh%;*/
  background-repeat: no-repeat;
  height:100%;
}

.layer {
  background-color: rgba(2, 45, 74, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h4, .details {
  color:white;
}

h5.subtitle {
  color: #019fb6
}

.row-navbar {
  flex:0 0 50px
}

.row-navbar:not(.home) {
  background: rgba(2, 45, 74, 0.8)
}

.row-content {
  flex:1 1 auto;
  overflow:auto;
  scrollbar-width: none;
}

.row-content::-webkit-scrollbar{
    display: none;
  }

.row-footer.main {
  flex:0 0 50px;
  height: 50px;
}

.row-footer:not(.main) {
  flex:1 0 50px;
  height: 50px;
}

#above-header > h4 {
  color: #d9d9d9
}
.home-emphasis {
  text-decoration: underline;
  text-decoration-color: #019fb6;
  color: #FFFFFF
}

#above-header {
  margin: 40vh auto auto 15px;
}

#navbar {
  height:50px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

#navbar.home > div {
  display: none
}

.mainnavsection:not(#above-header) {
  background-color: rgba(2, 45, 74, 0.8);
  width:99%;
  margin-left:1%;
  margin-top:2%;
}



ul.nav {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: white;
}


li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}


li a:hover:not(.active):after {
  transform: scaleX(1); 
}

.navbaritem:after {
  transform-origin:  0% 50%;
}

.navbaritem.active:after {
  transform: scaleX(1);
}


div.hide {
  display:none !important
}

.grouptitle {
  /*background-image: linear-gradient(to right, rgba(235, 237, 240,0), lightgray , rgba(235, 237, 240,0));*/
  text-align:left;
}

.grouptitle h2 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.jobrole::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top:25px;
  left: -22px;
  border-radius: 7.5px;
  background-color: #69b6d5;
}
/* #About-content {
  height:1600px;
  width: 100%;
} */

/*---------------------services styling ----------------------------------*/

.services-tile {
  background-color: rgba(179, 204, 230,0.1);
  padding: 20px;
  margin: auto;
  text-align: center;
}

.service-icon {
  box-shadow: -10px -10px 3px white;
  width: 50px;
  height: 60px;
  border: 1px solid white;
  margin: auto;
}

/*---------------------footer styling ----------------------------------*/

.footer-main {
  display: flex;
  justify-content: center;
  background: rgba(2, 45, 74, 0.7);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:50px;
}

.fa {  
  padding: 10px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 20px;  
  width: 40px;
  border-radius: 50%;
}  
 
.fa-google, fa-code {  
  background: rgba(2, 45, 74, 0.7);  
  color: white;  
}  
.fa-linkedin {  
  background: rgba(2, 45, 74, 0.7);/*#125688;*/  
  color: white;  
}  

.fa-github {  
  background: rgba(2, 45, 74, 0.7); /*#dd4b39;*/ 
  color: white;  
}  
  
.fa:hover {  
    opacity: 0.9;  
}

