<form id="contact-form" class="white-layer p-3" method="post">
  <h1>Contact Me</h1>
  <div class="form-row form-error" style="display:none;"></div>
  <div class="form-group">
    <label for="contact-form-name">Name:</label>
    <input id="contact-form-name" class="form-control" type="text" name="name" required>
  </div>
  <div class="form-group">
    <label for="contact-form-email">Email:</label>
    <input id="contact-form-email" class="form-control" type="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="contact-form-phone">Phone:</label>
    <input id="contact-form-phone" class="form-control" type="tel" name="phone">
  </div>
  <div class="form-group">
    <label for="contact-form-message">Message:</label>
    <textarea id="contact-form-message" class="form-control" name="message" required></textarea>
  </div>
  <button type="submit" class="btn btn-light">Submit</button>
</form>