          {%for group1 in resume %}
            <article>
              <div>
                <h2 class="section-heading">{{ group1['Title']}}</h2>
              </div>
              {%for group2 in group1['Details'] %}
              <div class="jobrole my-4">
                <div class="jobcontent">
                  <div class="flex-9 ">
                    <h5 class="subtitle">{{ group2['Subtitle']}}</h5>
                  </div>
                  <div class="flex-3">
                    <h5><span class="badge badge-light">{{ group2['Year']}}</span></h5>
                  </div>
                  <div class="flex-11 border-left">
                    <div class="details"><i>{{ group2['Institution']}}</i></div>
                    <div class="details">{{ group2['Description']}}</div>
                    <div class="details">
                      <ul>
                        {% for bullet in group2['Bullets'] %}
                        <li>{{ bullet }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </article>
          {% endfor %}